{% extends "layout.njk" %}
{% include 'components/nav.njk' %}
{% block content %}
<form action="./index.njk" method="post">
    <div class="form-element">
      <label for="name">name:</label>
      <input type="text" name="name" id="name">
    </div>

  </form>
{% endblock %}